/* 
==============================================================================
==============================================================================
>> Homepage Tab
==============================================================================
==============================================================================
*/
#homepage-tab .f-area {
	display: block;
}

/* 
==============================================================================
==============================================================================
>> Homepage Contact Form
==============================================================================
==============================================================================
*/
#contact_form .get-in-touch {
	text-align: center;
}

/* 
==============================================================================
==============================================================================
>> Footer
==============================================================================
==============================================================================
*/
.footer-menu ul li a {
    justify-content: center !important;
}